<!doctype html>
<html>
<head>
    <title>Game</title>
    <style>
        #gameCanvas {
            background-color: black;
            margin: auto;
            align: center;
        }
    </style>
</head>
<body>
<div id='gameCanvas'></div>
<script src="js/app.js"></script>
</body>
</html>